<!doctype html>
<html>
  <head>
    <title>Week 2</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">

      <h1>Add a tweet</h1>
      <form action="/tweet" method="POST">
        <p>Username: <input type="text" name="username"></p>
        <p>Status: <input type="text" name="status"></p>
        <input class="btn btn-primary" type="submit">
      </form>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
